body {
background-image: url(5521013-sweet-confetti-vector-seamless-pattern-abstract-texture-for-wrapping-wallpaper-textile-leaflet-red-orange-beige-blue-green-donut-glaze-toile-de-fond-vectoriel.jpg);
color: black;

}
header{
    text-align: center;
    align-items: flex-end;
    height: 6rem;
}
section{
color: black;
}
.classe1{
color: black;
background-image: url(images.jpeg);
}